<div> 
    <form [formGroup]="formData" (ngSubmit)="onClickSubmit(formData.value)" > 
        <p>WO Number:<input  type= "text" ng-readonly="true"  name="WO Number" placeholder="WONumber" formControlName = "WONumber"> </p>

        <p>Work Type: <input type= "text"  name="WorkType" placeholder="WorkType" formControlName = "WorkType"> </p>     

        <p>Status <input type= "text"  name="Status" placeholder="Status" formControlName = "Status"> </p>     

        <p>Description <input type= "text"  name="Description" placeholder="Description" formControlName = "Description"> </p>     

        <p>Duration <input type= "text"  name="Duration" placeholder="Duration" formControlName = "Duration"> </p>  

        <p><input type="submit"  value="Click here"> </p>
        <br/>   
    </form>
</div> 
<p> Textbox result is: {{WONumber}} </p>